doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title WebPack Test
    body
        h1 Hello World!!!!!
        h2 New Order!!
        h3 Test WebPack
        p Всем привет! Я тестирую работу webpack dev server
        script(src='./main.js')